<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Feed</title>
</head>
<body>
	<div class="container">
		<h1 class="mb-4">Feed</h1>
		<a href="/feed/new" class="btn btn-success">New Post</a>
		<% feed.forEach(feeds => { %>
			<div class="card mt-4">
				<div class="card-body">
					<h4 class="card-title"><%= feeds.movieTitle %></h4>
					<div class="card-subtitle text-muted" mb-2>
						<%= feeds.userName %>
					</div>
					<div class="card-text mb-2"><%= feeds.Comments %></div>
				</div>
			</div>
		<% }) %>
	</div>
</body>
</html>
